    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="/tm/index" class="simple-text logo-normal">
         Tube Master
        </a>
      </div>
      <div class="sidebar-wrapper">
           <ul class="nav">
   
          <li class="nav-item ">
            <a class="nav-link" href="/tm/index">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          
         
          <li class="nav-item ">
            <a class="nav-link" href="/tm/clients">
              <i class="material-icons">person</i>
              <p>Clients</p>
            </a>
              <ul style="list-style: none;">
                <li class="nav-item ">
                 <a class="nav-link" href="/tm/plants">
                 <i class="material-icons">library_books</i>
                 <p>Plants</p>
            </a>
            </li>
           <li class="nav-item">
            <a class="nav-link" href="/tm/units">
              <i class="material-icons">ac_unit</i>
              
              <p>Units</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/tm/reactors">
              <i class="material-icons">bubble_chart</i>
              <p>Reactors</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/tm/address">
           <i class="material-icons custom">map</i>
              <p>Address</p>
            </a>
          </li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">person</i>
              <p>Tube Master</p>
            </a>
              <ul style="list-style: none;">
               <li class="nav-item ">
            <a class="nav-link" href="/tm/equipments">
              <i class="material-icons">location_ons</i>
              <p>Equipments</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/tm/warehouse">
              <i class="material-icons">notifications</i>
              <p>Warehouse</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/tm/parts">
           <i class="material-icons custom">map</i>
              <p>Parts</p>
            </a>
          </li>
            </ul>
          </li>
          
         
          
          <!--<li class="nav-item ">-->
          <!--  <a class="nav-link" href="#">-->
          <!--    <i class="material-icons">language</i>-->
          <!--    <p>Parts</p>-->
          <!--  </a>-->
          <!--</li>-->

          <li class="nav-item ">
            <a class="nav-link" href="#" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

        
        </ul>

      </div>

    </div>
