{% extends 'admin/change_form_object_tools.html' %}
{% load i18n admin_urls %}


{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" style="color:black;" class="historylink">{% translate "History" %}</a>
</li>
<div style="display:flex; justify-content: center; margin-top:15px">
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" target="_blank" style="background-color:#655DBB; font-weight:bold;" class="btn btn info">{% translate "View Comments" %}</a></li>{% endif %}
</div>
{% endblock %}