{% extends 'crud/base.html' %} {% block content %}
<div class="container" style="padding: 20px">
  <div class="row">
    <div class="col-md-10 col-xs-10 col-sm-10">
      <form method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="alert alert-warning">
            Are you sure you want to delete {{ object }}?
          </div>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
